.dashboard-button {
    color: #8c00b2;
    text-decoration: none;

}

.dashboard-button:hover {
    background-color: #8c00b2;
    color: #fff;
    text-decoration: none;
}

.nav-link {
    color: #646060;
}

.nav-link:active {
    color: #8c00b2;
}



.nav-tabs .nav-link.active {
    color: #f1f1f1;
    background-color: #8c00b2;
}