.hero-mid {
    padding-top: 70px;
    padding-bottom: 50px;

}

.mid-font {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 40px;
    color: #7b34b1;
}

.mid-font-mobile {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 30px;
    color: #7b34b1;

}

.mid-mobile-text {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
    color: #777777;


}

.mid-desktop-text {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 30px;
    color: #777777;
    padding-top: 10px;



}

.icon {
    padding: 0;
    margin: 0 10px;
    align-items: center;
}